<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
<div>
 <img src="../assets/dummy-logo.jpg" alt="" height="171px" width="120px"></div>
<p>
Hello <h3>Mr/Mrs<%= @qucikcontact.name%></h3>
We got your message and will get back to you shortly.
In the meantime, feel free to join our community !
  This  is an feedback mail from Arthik Packers & Movers ,thanks for showing a intrest on US  .we are help you on your ideas .
we will contact you soon!!
<p>
thanks again for showing intrest with our Company<br>
<b>
Contactus:020-65116622<br>
Warm Regards<br></b>
<b>Arthik Packers & Movers</b>
</p>
</p>
</body>
</html>
