
<!DOCTYPE html>
<html>
<head>
<style>
table,th,td
{
border:1px solid black;
border-collapse:collapse;
}
th,td
{
padding:5px;
}
</style>
</head>
<body>

<table style="width:300px">
<tr>
  <th>Service type</th>
  <th>Name</th>		
  <th>Contact No</th>
  <th>Email Address</th>
  <th>From City</th>
  <th>To City</th>
  <th>Shifting Date</th>
  <th>Subject</th>
  <th>Message</th>
</tr>
<tr>
  <td><%= @enc.service_type %></td>
  <td><%= @enc.name%></td>		
  <td><%= @enc.phno%></td>
  <td><%= @enc.email%></td>
  <td><%= @enc.fromcity%></td>
  <td><%= @enc.tocity%></td>
  <td><%= @enc.shiftdate%></td>
  <td><%= @enc.subject%></td>
  <td><%= @enc.message%></td>
</tr>

</table>

</body>
</html>




