
<body id="pageBody">

<div id="divBoxed" class="container">

    <div class="transparent-bg" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;zoom: 1;"></div>



    <div class="divPanel notop nobottom">
         

            <div class="row-fluid">
                <div class="span12">
                    <div id="contentInnerSeparator"></div>
                </div>
            </div>
    </div>
    <div class=" map-box">

           &nbsp&nbsp&nbsp&nbsp <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d414.05219556187086!2d73.76679174134439!3d18.66421672106914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTjCsDM5JzUyLjIiTiA3M8KwNDYnMDAuOCJF!5e1!3m2!1sen!2s!4v1405836565602" name="aarthik pa" width="1100" height="400" frameborder="0" style="border:0"></iframe>
          </div>
 

    <div class="contentArea">

        <div class="divPanel notop page-content">

            <div class="row-fluid">
                <div class="span8" id="divMain">
                <br/>
                    <h1>Contact Us</h1>
                   	<h3 style="color:#FF6633;"></h3>
                    <hr>
					
			<!--Start Contact form -->	
 <%=form_for @qucikcontact,:name=>"enq",url: {:action=>"create", :controller=>"atransport"}, method: :post do |f| %>             	
  <fieldset>
 <%= f.text_field :name, :placeholder=>"Name",:id=>"name",:class=>"input-block-level"%>
 <%= f.text_field :email,:id=>"email",:placeholder=>"Email Address",:class=>"input-block-level"%>
 <%= f.text_field :phno,:id=>"pho",:placeholder=>"Phone No" , :class=>"input-block-level"%>
 <%= f.text_field :subject,:id=>"subject",:placeholder=>"Subject",:class=>"input-block-level"%>
 <%= f.text_area  :Message,:id=>"comments",:placeholder=>"Message",:cols=> 5,:rows=>5, :class=>"input-block-level"%>
 <div class="actions">
  <%=f.submit :Submit,:name=>"submit",:class =>"btn btn-info pull-right",:id=>"submitButton",:value=>"Send Your Message",:title=>"Click here to submit your message!"%>
	</div>
	
	</fieldset>
  <%end%>    

			<!--End Contact form -->											 
                </div>
				
			<!--Edit Sidebar Content here-->	
                <div class="span4 sidebar">

                    <div class="sidebox">
                        <h3 class="sidebox-title">Contact Information</h3>
                    <p>
                         <div class="textwidget">
                            <p>Mr.Gopal Mand</br>
                            P / no - 78,Set No- 23,Transport Nagar</br>
                            Nigdi, Pune-44</br>
                            C.No: 02032421188,</br>
                            Mobile No:80 55 90 60 46</br>
                            
                            Mail: <a href="mailto:info@udthemes.com">info@udthemes.com</a></p></div>
                    </p>     
                     
					 <!-- Start Side Categories -->
        
					<!-- End Side Categories -->
                    					
                    </div>
					
					
                    
                </div>
			<!--/End Sidebar Content-->
				
				
            </div>			

            <div id="footerInnerSeparator"></div>
        </div>
    </div>

    <div id="footerOuterSeparator"></div>

   

<br/><br/><br/>



<script src="scripts/wookmark/js/jquery.wookmark.js" type="text/javascript"></script>
<script type="text/javascript">$(window).load(function () {var options = {autoResize: true,container: $('#gridArea'),offset: 10};var handler = $('#tiles li');handler.wookmark(options);$('#tiles li').each(function () { var imgm = 0; if($(this).find('img').length>0)imgm=parseInt($(this).find('img').not('p img').css('margin-bottom')); var newHeight = $(this).find('img').height() + imgm + $(this).find('div').height() + $(this).find('h4').height() + $(this).find('p').not('blockquote p').height() + $(this).find('iframe').height() + $(this).find('blockquote').height() + 5;if($(this).find('iframe').height()) newHeight = newHeight+15;$(this).css('height', newHeight + 'px');});handler.wookmark(options);handler.wookmark(options);});</script>
<script type="text/javascript">$(document).ready(function () {$('.yoxview').yoxview({autoHideInfo:false,renderInfoPin:false,backgroundColor:'#ffffff',backgroundOpacity:0.8,infoBackColor:'#000000',infoBackOpacity:1});$('.yoxview a img').hover(function(){$(this).animate({opacity:0.7},300)},function(){$(this).animate({opacity:1},300)});});</script>
