﻿
<body id="pageBody">

<div id="divBoxed" class="container">

    <div class="transparent-bg" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;zoom: 1;"></div>

    <div class="divPanel notop nobottom">
        

            <div class="row-fluid">
                <div class="span12">
                    <div id="contentInnerSeparator"></div>
                </div>
            </div>
    </div>

    <div class="contentArea">

        <div class="divPanel notop page-content">


            <!--Edit Portfolio Content Area here-->			
            <div class="row-fluid">
                <div class="span12">
				
				<h1>Portfolio</h1>
            <div class="yoxview">
                    <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail">
          <img src="./assets/portfolio/port1.jpg" alt="Thumbnail Placeholder" title="Thumbnail Placeholder" /></a>
                  <div class="caption">
                    <h5>Wrapping/packing Pottery</h5>
                    <p>Items are wrapped in white tissue paper and put in brown kraft paper bags with handles. I use more than one bag if the weight becomes an issue and multiple items are being purchased..</p>
                    <p><a href="#" class="btn btn-primary">Read More...</a></p>
                   
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <img src="./assets/portfolio/port2.jpg" alt="Thumbnail Placeholder" title="Thumbnail Placeholder"/></a>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Your unique and valuable exhibits and art collections, sculptures & antiques require special packing and handling before moving or in storage.

.</p>
                    <p><a href="#" class="btn btn-primary">Read More...</a></p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <img src="./assets/portfolio/port3.jpg" alt="Thumbnail Placeholder" title="Thumbnail Placeholder"/></a>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>The trailers & containerized trucks, specially designed for the safe carriage of cars, are used for the purpose.  the ride and protect the vehicle from any scratches and accidental damages.</p>
                    <p><a href="#" class="btn btn-primary">Read More...</a></p>
                  </div>
                </div>
              </li>
			  <li class="span3">
                <div class="thumbnail">
                  <img src="./assets/portfolio/port4.jpg" alt="Thumbnail Placeholder" title="Thumbnail Placeholder"/></a>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p> First, select a box which won’t allow you to pack more than worth of goods. The size should be kept compact.  So, pay extra attention to them. After wrapping them with paper for better protection..</p>
                    <p><a href="#" class="btn btn-primary">Read More...</a></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
		  <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail">
                  <img src="./assets/portfolio/port5.jpg" alt="Thumbnail Placeholder" title="Thumbnail Placeholder"/></a>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary">Read More...</a></p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <img src="./assets/portfolio/port6.jpg" alt="Thumbnail Placeholder" title="Thumbnail Placeholder"/></a>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Glass & ceramics should ideally be wrapped in tissue paper as a first layer.
Do use several layers of bubble wrap or several used padded (Jiffy) bags
 Bubble wrap gives the best protection BUT
.</p>
                    <p><a href="#" class="btn btn-primary">Read More...</a></p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <img src="./assets/portfolio/port8.jpg" alt="Thumbnail Placeholder" title="Thumbnail Placeholder"/></a>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p> Double boxing will ensure twice as much protection. Also take the time to fill the empty spaces between the outer and inner box with foam.  it will be a little more expensive.</p>
                   
                  </div>
                </div>
              </li>
			  <li class="span3">
                <div class="thumbnail">
                  <img src="./assets/portfolio/port15.jpg" alt="Thumbnail Placeholder" title="Thumbnail Placeholder"/></a>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Your unique and valuable exhibits and art collections, sculptures & antiques require special packing and handling before moving or in storage.

                    <p><a href="#" class="btn btn-primary">Read More...</a></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
		  <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail">
                  <img src="./assets/portfolio/port13.jpg" alt="Thumbnail Placeholder" title="Thumbnail Placeholder"/></a>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>big items can be placed in double box and wrap arrount with cotton and put in the wooden boxes .additional packaging and so you must double box these items</p>
                    <p><a href="#" class="btn btn-primary">Read More...</a></p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
<img src="./assets/portfolio/port16.jpg" alt="Thumbnail Placeholder" title="Thumbnail Placeholder"/></a>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>glass items in their original boxes
The thin cartons used as retail packaging are not sufficient for transit.
They would have arrived to the retailer in additional packaging .</p>
                    <p><a href="#" class="btn btn-primary">Read More...</a></p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                 <img src="./assets/portfolio/port20.jpg" alt="Thumbnail Placeholder" title="Thumbnail Placeholder"/></a>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Do use several layers of bubble wrap or several used padded (Jiffy) bags
 Bubble wrap gives the best protection .</p>
                    <p><a href="#" class="btn btn-primary">Read More...</a></p>
                  </div>
                </div>
              </li>
			  <li class="span3">
                <div class="thumbnail">
                  <img src="./assets/portfolio/port21.jpg" alt="Thumbnail Placeholder" title="Thumbnail Placeholder"/></a>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary">Read More...</a></p>
                  </div>
                </div>
              </li>
            </ul>
			</div>
          </div>

                </div>
                
            </div>
			<!--/End Portfolio Content Area-->

            <div id="footerInnerSeparator"></div>
        </div>
    </div>

    <div id="footerOuterSeparator"></div>

  

<br /><br /><br />


<script src="scripts/wookmark/js/jquery.wookmark.js" type="text/javascript"></script>
<script type="text/javascript">$(window).load(function () {var options = {autoResize: true,container: $('#gridArea'),offset: 10};var handler = $('#tiles li');handler.wookmark(options);$('#tiles li').each(function () { var imgm = 0; if($(this).find('img').length>0)imgm=parseInt($(this).find('img').not('p img').css('margin-bottom')); var newHeight = $(this).find('img').height() + imgm + $(this).find('div').height() + $(this).find('h4').height() + $(this).find('p').not('blockquote p').height() + $(this).find('iframe').height() + $(this).find('blockquote').height() + 5;if($(this).find('iframe').height()) newHeight = newHeight+15;$(this).css('height', newHeight + 'px');});handler.wookmark(options);handler.wookmark(options);});</script>
<script src="scripts/yoxview/yox.js" type="text/javascript"></script>
<script src="scripts/yoxview/jquery.yoxview-2.21.js" type="text/javascript"></script>
<script type="text/javascript">$(document).ready(function () {$('.yoxview').yoxview({autoHideInfo:false,renderInfoPin:false,backgroundColor:'#ffffff',backgroundOpacity:0.8,infoBackColor:'#000000',infoBackOpacity:1});$('.yoxview a img').hover(function(){$(this).animate({opacity:0.7},300)},function(){$(this).animate({opacity:1},300)});});</script>


</body>
</html>