
<body id="pageBody">

<div id="divBoxed" class="container">

    <div class="transparent-bg" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;zoom: 1;"></div>

    <div class="divPanel notop nobottom">
           

            <div class="row-fluid">
                <div class="span12">
                    <div id="contentInnerSeparator"></div>
                </div>
            </div>
    </div>

    <div class="contentArea">

        <div class="divPanel notop page-content">

           

            <div class="row-fluid">
            <!--Edit Main Content Area here-->
                <div class="span12" id="divMain">

                    <h4>Services</h4>
                    <hr>
                    <p>&nbsp&nbsp&nbsp 
                    
We understand the importance of the cartons and the carriage boxes in order to make a good and successful move. You cab set the schedule with and contact us for further bookings for packing and moving services. You have to remember that if you are carrying out the work of packing yourself, you may save some money but then we will not take the liability of your goods.
We pack the goods in a way that they do not get damages and occupy least space while being transported from one place to the other.You can be present at the location when the goods are being packed so that you can oversee the packaging process and know which goods are being packed in what manner.
                    </p>            
                    
					
                  

                <div class="row-fluid">
            
            <!--Edit Sidebar Content here-->
                <div class="span3">                    
                 <h3>Vehicle used </h3>
                 <hr>
                 
          <img src="assets/v1.jpg" class="img-polaroid" alt="">
          <p style="padding-top:4px;">Long shifting</p>
          <hr> 

          <img src="assets/v51.jpg" class="img-polaroid" alt="">
          <p>Long shifting</p>
            <hr> 
          <img src="assets/v21.jpg" class="img-polaroid" alt="">
          <p>Local shifting</p>
          
            
                                  
          </div>
                <!--/End Sidebar Content -->                        
                                     
                <!--Edit Main Content Area here-->
                <div class="span9" id="divMain">

                    <h3>Two Column (left-hand sidebar)</h3>
                    <hr>    
                    <div class="row-fluid">     
                <div class="span4">                           
                    <img src="assets/serv3.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">   </div>          
                <div class="span8"> 
                  <h6> <i class="icon-gift"> </i> Goods Relocation Services</h6>           
                    <p>No matter what the nature of your goods is. Whether it is industrial good or corporate good; They are ready to go an extra mile to ensure a safe delivery of goods at your doorstep. A  We try our best that all the goods of our clients are easily relocated, irrespective of their weight, size and other factors. When it comes to all-inclusive relocation services, Godara Packers and Movers is a name you can trust..</i></p>
                </div>       
            </div>
            <hr>
                    <div class="row-fluid">     
                <div class="span4">                           
                    <img src="assets/serv4.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">   </div>          
                <div class="span8"> 
                 <h6>Packing & Moving services</h6>           
                    <p>We are one of the premier packers and movers of the country providing quality packing and moving services to all our clients. As per the demand .  Similarly we offer diverse packing options for goods of different nature. Our well qualified staff excels in packing your goods carefully so that not even a scratch can harm your goods and that your goods are delivered within the stipulated time</p>
                </div>       
            </div>
            <hr>

                   <div class="row-fluid">      
                <div class="span4">                           
                    <img src="assets/serv5.jpg"  class="img-polaroid" style="margin:5px 0px 15px;" alt="">   </div>          
                <div class="span8"> 
                <h6>Local Shifting </h6>            
                    <p>We realize that most of the people are shifting home or offices almost every year on an average. But unfortunately people are not be able to take out so much time from there hectic schedule for relocation even in the local settings. Therefore Godara Packers and Movers provide relocation services beyond your city as well as locally. </p>
                </div>       
            </div>               
                </div>                               
                                                          
                <!--/End Main Content Area here-->                  
                    
                            
            </div>
		
		<hr>
        <br>

                 <div class="row-fluid">
            
            <div class="span8" >                   
            <!--Edit Tabs here-->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab"><i class="icon-star"></i> Services 1</a></li>
                <li><a href="#profile" data-toggle="tab"><i class="icon-star"></i> Services 2</a></li>
                <li><a href="#settings" data-toggle="tab"><i class="icon-star"></i> Services 3</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                <img src="assets/about1.jpg" class="pull-left img-polaroid" alt=""/>
				<p>Brown Paper & Cora cloth<br/>
* Bubble wrap, Foam, Thermocol<br/>
* High Quality Corrugated rolls & sheets<br/>
* Tissue paper & White paper<br/>
* Polythene & Plastic<br/>
				</p>
				<p>
				</p>
                </div>
                <div class="tab-pane fade" id="profile">
				<img src="assets/about2.jpg" class="pull-left img-polaroid" alt=""/>
                <p>Boxes and Cartons that are used by packers and movers. Available in customized shapes & sizes, our range of cartons can be custom availed as per specific requirements of clients. These cartons are known for its sturdiness, durability, ability to hold weight..</p>
                </div>
                <div class="tab-pane fade" id="settings">
				<img src="assets/about3.jpg" class="pull-left img-polaroid" alt=""/>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
			<!--End Tabs here-->
					</div>
					
			
            <div class="span4" >
              <!--Edit Accordians here-->      
              <div class="accordion" id="accordion2">

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            Collapsible Content 1
                        </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            genereally use cargo sheets and cartons for packaging goods.However, packaging materials differ with the kind of goods involved. They use corrugated paper rolls for figurines and fragile items and tape, bubble wrap,
                        </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                           Collapsible Content 2
                        </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Most common of packing material, this form of cardboard can be laminated together and form large blocks, cushioning the contents by forming a protective shield. 
                        </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                           Collapsible Content 3
                        </a>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse">
                        <div class="accordion-inner">
                             Tissue or craft paper for delicate packing. Then they wrap the packaged goods with film rolls to waterproof them. Bubble sheet is used as a protective and cushion layer for electronic items, wood furniture, crockery and glassware, computer etc. Being a soft material its saves the outer layer of the material from getting damaged 
                        </div>
                        </div>
                    </div>
              </div>
			  <!--End Accordians here-->
					</div>			
            </div>                       

                </div>
				<!--End Main Content here-->
 
            </div>

            <div id="footerInnerSeparator"></div>
        </div>
    </div>

    <div id="footerOuterSeparator"></div>

    
<br /><br /><br />




