<div id="footerOuterSeparator">

    <div id="divFooter"  style="height=200px;"class="footerArea">

        <div class="divPanel" style="height:270px;">

            <div class="row-fluid">
                <div class="span4" id="footerArea1">
                
                    <h3 style="line-height: 0.8 ">About Company</h3>

                    <p>Having the largest and the most trustworthy packing and moving directory, Aarthik Packers and movers matches the needs of people planning to move their household or office goods with good packers and movers in their city .</p>
                    
                    

                </div>
                <div class="span2" id="footerArea2">
                     <a href="index.html" id="divSiteTitle"></a><br />
                        <a href="index.html" id="divTagLine"><img src="..//assets/rsz_112.png" alt="" height="150px" width="200px"></a>

                </div>
                <div class="span2" id="footerArea3">
                <a href="index.html" id="divSiteTitle"></a><br />
                        <a href="index.html" id="divTagLine"><img src="..//assets/rsz_iso.png" alt="" height="150px" width="150px"></a>


                </div>

                <div class="span4" id="footerArea4">
                    <h3>&nbsp&nbsp Head Office.</h3>  
                                                               
                    <ul id="contact-info">
                    <li>                                    
                        
                        <div class="textwidget">
                            <p>Mr.Gopal Mand</br>
                            P / no - 78,Set No- 23,Transport Nagar</br>
                            Nigdi, Pune-44</br>
                            C.No: 02032421188,</br>
                            Mobile No:80 55 90 60 46</br>
                            
                            Mail: <a href="mailto.com">.com</a></p>
                                                                  
                    </li>
                   
              
                    </ul>
                </div>
            </div>

           
            <div class="row-fluid">
                <div class="span12">
                    

                    <p class="social_bookmarks">
                        <a href="#"><i class="social foundicon-facebook"></i> Facebook</a>
            <a href=""><i class="social foundicon-twitter xl"></i> Twitter</a>
            <a href="#"><i class="social foundicon-pinterest"></i> Pinterest</a>
            <a href="#"><i class="social foundicon-rss"></i> Rss</a>
                    </p>

                </div>

            </div>
             <hr>
                <p class="copyright">
                        Copyright © 2013 Your Company. All Rights Reserved.
                    </p>

        </div>

    </div>
