
 <link href="http://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">

<div class="row-fluid" >
<marquee  scrollamount="5"
direction="right"
behavior="scroll"><FONT SIZE="4" color="red">
Help! The ship's chasing me...
<img src="./assets/slider-images/Phone1.png" />
</marquee>

<div class="span11" style="background-color:rgb(75, 75, 122); margin-left: 51px;">
                    
                    <div id="divLogo" class="pull-left">
                        <a href="index.html" id="divSiteTitle"><img src="..//assets/rsz_112.png" alt="Boxter HTML Template Demo Light" height="150px" width="200px"></a><br />
                        
                    </div>

                    <div id="divMenuRight" class="pull-right">

                    <div class="navbar">
                    

                        <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                            NAVIGATION <span class="icon-chevron-down icon-white"></span>
                        </button>
                        <div class="nav-collapse collapse">
                            <ul class="nav nav-pills ddmenu">
                            <li class=""><a href="/index">Home</a></li>
                            <li><a href="/about_us">About us</a></li>
                            <li><a href="/services">Services</a></li>
                            <li><a href="/gallery">Portfolio</a></li>
                            <li><a href="/enquiry" >Enquiry & Branches</a></li>
                            <li><a href="/contact_us">Contact us</a></li>
                            </ul>
                            </div>
                    </div>
                    </div>

                </div>
                </div>
