<body id="pageBody">

<div id="divBoxed" class="container">

    <div class="transparent-bg" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;zoom: 1;"></div>

    <div class="divPanel notop nobottom">
            <div class="row-fluid">
                
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <div id="contentInnerSeparator"></div>
                </div>
            </div>
    </div>

    <div class="contentArea">

        <div class="divPanel notop page-content">

                      <div class="row-fluid">
      
      <!--Edit Sidebar Content here-->
                <div class="span6" id="divMain">                    
                  <div>
                  <h4><b>Free Quotation</b></h4>
                  <img src="/assets/enquiry.gif" height="100px" width="200px"></div>
                    <hr>
                    <h3 style="color:#FF6633;"></h3>
      <!--Start Contact form -->                                                    
<%=form_for @enc,:name=>"enq",url: {:action=>"create", :controller=>"dashboards"}, method: :post do |f| %>               
  <fieldset> 
 <%= f.select :service_type, options_for_select([['Packers and Movers'] , ['Office Relocation'] ,['Corporate Relocation'], ['International Relocation']]) %>
 <%= f.text_field :name, :placeholder=>"Name",:id=>"name",:class=>"input-block-level"%>
 <%= f.text_field :email,:id=>"email",:placeholder=>"Email Address",:class=>"input-block-level"%>
 <%= f.text_field :phno,:id=>"pho",:placeholder=>"Phone No" , :class=>"input-block-level"%>
 <%= f.text_field :fromcity,:id=>"fromcity",:placeholder=>"Shift From City" , :class=>"input-block-level"%>
 <%= f.text_field :tocity,:id=>"tocity",:placeholder=>"Shift To City" , :class=>"input-block-level"%>
  <%= f.text_field :shiftdate, :id => "datepicker", :placeholder => "Shifting Date" %>
 <%= f.text_field :subject,:id=>"subject",:placeholder=>"Subject",:class=>"input-block-level"%>
 <%= f.text_area  :message,:id=>"comments",:placeholder=>"Message",:cols=> 5,:rows=>5, :class=>"input-block-level"%>
 <div class="actions">
  <%=f.submit :Submit,:name=>"submit",:class =>"btn btn-info pull-right",:id=>"submitButton",:value=>"Send Your Message",:title=>"Click here to submit your message!"%>
  </div>
  
  </fieldset>
  <%end%>            
      <!--End Contact form -->    



    <div id="myCarousel" class="carousel slide"  style="width: 400px; ">
   <!-- Carousel indicators -->
  
   <!-- Carousel items -->
   <div class="carousel-inner "  >
      <div class="item active">
         <img src="/assets/slider-enquiry/images1.jpg" alt="First slide">
         
      </div>
      <div class="item">
         <img src="/assets/slider-enquiry/images2.jpg" alt="Second slide">
        
      </div>
      <div class="item">
         <img src="/assets/slider-enquiry/images3.jpg" alt="Third slide">
        
      </div>
      <div class="item">
         <img src="/assets/slider-enquiry/images4.jpg" alt="Fourth slide">
        
      </div>
   </div>
   <!-- Carousel nav -->
   <a class="carousel-control left" href="#myCarousel" 
      data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#myCarousel" 
      data-slide="next">&rsaquo;</a>
</div>                    
               

				
        <h3>Arthik Image</h3>        
          <img src="assets/windmill.jpg" class="img-polaroid" alt="">
		  
			
              	
          </div>
				<!--/End Sidebar Content -->        				
					                 
            	<!--Edit Main Content Area here-->
                <div class="span6" id="divMain">

                    <h4><b>Our branches over India</b></h4>
					<hr>
                    
                     <div class="span5">                    
                 <h6>Nagpur Office</h6>
                 <p>    Surendev shingh, 8 No- Ambrabti road,Nagpur</p>

                  <hr> 
                 <h6>Pune Camp</h6>
                 <p>    Rahul Goyal, 428 coregaw p|a 20, Coregow Park, Pune, India.</p>
                  <hr> 
                  <h6>Banglor Office</h6>
                 <p>     Ganput Chauhan, 221 Readdy Niwas, Yashwant Pur, Banglore</p>
                  <hr> 
                 <h6>Hyderabad Office</h6>
                 <p>     Mintu Kumar, 22/2 Old Bhavan Palli,Contoment area, Hydrabad</p>
                  <hr> 
                 <h6>Chennai Office</h6>
                 <p>     Anil Kumar, K.R. Krishnan Road, Anna Nagar, Chennai</p>
                  <hr>
                 </div>
               
                  <div class="span5">                    
                 <h6>Kolkata Office</h6>
                 <p>   K.R Das Road, Near Damdam Airpoart Road, Kolkata</p>
                  <hr> 

                 <h6>Delhi Office</h6>
                 <p> MR.Gogindar Kumar, Nr Indira Gandhi Road, Delhi.</p>
                  <hr> 
                 <h6>Chandigad Office</h6>
                 <p>    P / N- 102, S.No.- 03, Manim, Chandigad. </p>
                  <hr> 
                 <h6>Ahmedabad Office</h6>
                 <p>    B.K Shah Nagar, Golden Chokeri, Ahmedabad.</p>
                  <hr> 
                 <h6>Rudrapur Office</h6>
                 <p>    802, Prit Vihar, Ram Nagar Road, Uttrakhand</p>
                  <hr>

                 </div>
         
				</div>	                             
                    					                  
				<!--/End Main Content Area here-->	                
					
							
            </div>


            <div id="footerInnerSeparator"></div>
        </div>
    </div>

    <div id="footerOuterSeparator"></div>


<br /><br /><br />




  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script

